/**------------------- 
**     BUTTONS
--------------------*/
.btn {
  background-color: transparent;
  border: 2px solid hsl(var(--clr-dark));
  border-radius: 6px;
  color: hsl(var(--clr-dark));
  cursor: pointer;
  font-size: clamp(0.875rem, calc(0.5rem + 1vw), 1rem);
  font-weight: var(--fw-bold);
  letter-spacing: -0.1408px;
  line-height: 1.5rem;
  padding: 0.5em 1em;
}

.btn:hover {
  background-color: hsl(var(--clr-dark));
  color: hsl(var(--clr-desert-storm));
}

.btn--type-2 {
  background-color: hsl(var(--clr-dark));
  border: none;
  color: hsl(var(--clr-desert-storm));
  font-size: 1.125rem;
  padding: 1em 1.5em;
}
.btn--type-2:hover {
  background: linear-gradient(
    135deg,
    hsl(var(--clr-crocus-purple)) 0%,
    hsl(var(--clr-pinkish-purple)) 49.21%,
    hsl(var(--clr-light-orange)) 100%
  );
  border: none;
}

/**------------------- 
**     HEADER
--------------------*/
.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* once the logo and the button wrap, the design no longer looks nice, this will fix it */
@media only screen and (max-width: 23.1875rem) {
  .header {
    gap: 1rem;
  }

  .header > * {
    flex-basis: 100%;
  }

  .header .image-wrapper {
    display: grid;
    place-items: center;
  }
}

/**------------------- 
**      HERO
--------------------*/
.hero__content {
  --space: 1.5rem;
}

.hero__content .solution {
  position: relative;
}

.hero__content .solution::before {
  position: absolute;
  top: -2.1875rem;
  left: 0;

  content: '';
  background-image: url('../build/assets/images/pattern-curved-line-1.svg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 0.6em;
  width: 4.3em;
}

/* the curved line svg will overlap with the text once the screen size gets smaller than 306px, this will make it disappear */
@media only screen and (max-width: 19.0625rem) {
  .hero__content .solution::before {
    display: none;
  }
}
