/**--------------------- 
** CENTERING ELEMENTS
----------------------*/

.center {
  box-sizing: content-box;
  margin-inline: auto;
  max-inline-size: var(--measure);
  padding-inline-start: var(--gutters, 0);
  padding-inline-end: var(--gutters, 0);
}

/**--------------------- 
**    COMMON GRID
----------------------*/
.grid {
  display: grid;
  grid-gap: var(--grid-gap, 1rem);
}

@supports (width: min(250px, 100%)) {
  .grid {
    grid-template-columns: repeat(
      auto-fit,
      minmax(min(var(--minimum, 250px), 100%), 1fr)
    );
  }
}

/**--------------------- 
**  CROPPING MEDIA
----------------------*/
.frame {
  --n: 16;
  --d: 9;
  aspect-ratio: var(--n) / var(--d);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame > img,
.frame > video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

/**--------------------- 
** STACKING ELEMENTS
----------------------*/
.stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack > * {
  margin-block: 0;
}

.stack > * + * {
  margin-block-start: var(--space, 1.5rem);
}

/**--------------------- 
** SWITCHING LAYOUTS
----------------------*/
.switcher {
  display: flex;
  flex-wrap: wrap;
  gap: var(--s1);
}

.switcher > * {
  flex-grow: 1;
  flex-basis: calc((var(--threshold, 36rem) - 100%) * 999);
}

.switcher > :nth-last-child(n + 4),
.switcher > :nth-last-child(n + 4) ~ * {
  flex-basis: 100%;
}
