/**------------------- 
**      HEADER
--------------------*/
.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media only screen and (max-width: 18.5625rem) {
  .header {
    gap: 0.5rem;
  }
}

/**------------------- 
**  REQUEST BUTTON
--------------------*/
.btn--request {
  background-color: transparent;
  border-color: hsl(var(--clr-dark));
  color: hsl(var(--clr-dark));
}

.btn--request:hover {
  background-color: hsl(var(--clr-dark));
  color: hsl(var(--clr-desert-storm));
}
