/**------------------- 
**      RESET
--------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}
/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}
/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}
/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/**------------------- 
**   CUSTOM PROPS
--------------------*/
:root {
  /* COLOURS */
  --clr-dark: 219, 43%, 16%;
  --clr-dusk: 218, 20%, 36%;
  --clr-soft-peach: 30, 33%, 93%;
  --clr-desert-storm: 30, 29%, 97%;
  --clr-crocus-purple: 264, 100%, 69%;
  --clr-pinkish-purple: 292, 76%, 54%;
  --clr-light-orange: 31, 100%, 65%;

  /* FONT FAMILY */
  --ff-epilogue: 'Epilogue', sans-serif;

  /* FONT SIZE */
  --fs-heading-xl: 2.375rem;
  --fs-heading-l: 2.5rem;
  --fs-heading-m: 1.125rem;
  --fs-heading-sm: 1rem;
  --fs-quote: 1.125rem;
  --fs-body: 1rem;
  --fs-footer: 0.9375rem;

  /* LINE HEIGHT */
  --lh-heading-xl: 2.75rem;
  --lh-heading-l: 3rem;
  --lh-heading-m: 2rem;
  --lh-heading-sm: 1.625rem;
  --lh-quote: 2rem;
  --lh-body: 1.75rem;
  --lh-footer: 2rem;

  /* LETTER SPACING */
  --ls-heading-xl: -0.0331rem;
  --ls-heading-l: -0.0262rem;
  --ls-heading-m: -0.0112rem;
  --ls-heading-sm: 0.1563rem;
  --ls-quote: 0.0056rem;
  --ls-body: 0.0056rem;
  --ls-footer: 0.005rem;

  /* FONT WEIGHT */
  --fw-regular: 400;
  --fw-bold: 700;

  /* MAX WIDTH */
  --measure: 43.0625rem;
}

@media only screen and (min-width: 48em) {
  :root {
    /* FONT SIZE */
    --fs-heading-xl: 3.5rem;
    --fs-heading-l: 2.5rem;
    --fs-heading-m: 1.125rem;
    --fs-heading-sm: 1rem;
    --fs-quote: 1.125rem;
    --fs-body: 1rem;
    --fs-footer: 0.9375rem;

    /* LINE HEIGHT */
    --lh-heading-xl: 4rem;
    --lh-heading-l: 3rem;
    --lh-heading-m: 2rem;
    --lh-heading-sm: 1.625rem;
    --lh-quote: 2rem;
    --lh-body: 1.75rem;
    --lh-footer: 2rem;

    /* LETTER SPACING */
    --ls-heading-xl: -0.0488rem;
    --ls-heading-l: -0.0262rem;
    --ls-heading-m: -0.0112rem;
    --ls-heading-sm: 0.1563rem;
    --ls-quote: 0.0056rem;
    --ls-body: 0056rem;
    --ls-footer: 0.005rem;
  }
}

@media only screen and (min-width: 90em) {
  :root {
    /* FONT SIZE */
    --fs-heading-xl: 4.5rem;
    --fs-heading-l: 3rem;
    --fs-heading-m: 1.125rem;
    --fs-heading-sm: 1rem;
    --fs-quote: 1.25rem;
    --fs-body: 1.125rem;
    --fs-footer: 0.9375rem;

    /* LINE HEIGHT */
    --lh-heading-xl: 4.875rem;
    --lh-heading-l: 3.5rem;
    --lh-heading-m: 2rem;
    --lh-heading-sm: 1.625rem;
    --lh-quote: 2.1875rem;
    --lh-body: 2rem;
    --lh-footer: 2rem;

    /* LETTER SPACING */
    --ls-heading-xl: -0.0625rem;
    --ls-heading-l: -0.0313rem;
    --ls-heading-m: -0.0125rem;
    --ls-heading-sm: -0.1563rem;
    --ls-quote: 0rem;
    --ls-body: 0rem;
    --ls-footer: 0rem;
  }
}

/**------------------- 
**    UTILITIES
--------------------*/
.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.container {
  padding-inline: 1rem;
  padding-block-start: 1.5rem;
}

@media only screen and (min-width: 48em) {
  .container {
    padding-inline: 2.4375rem;
    padding-block-start: 2.5rem;
  }
}

@media only screen and (min-width: 90em) {
  .container {
    padding-inline: 10.3125rem;
    padding-block-start: 3.125rem;
  }
}

.center {
  box-sizing: content-box;
  margin-inline: auto;
  max-inline-size: var(--measure);
}

/**------------------- 
**    COMPONENTS
--------------------*/
/* Buttons */
.btn {
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: var(--fw-bold);
  letter-spacing: -0.0088rem;
  padding: 1rem;
}

@media only screen and (min-width: 48em) {
  .btn {
    font-size: 1rem;
    letter-spacing: -0.01rem;
    padding: 1rem 1.2rem;
  }
}

/**------------------- 
**     GENERAL
--------------------*/
body {
  background-color: hsl(var(--clr-desert-storm));
  font-family: var(--ff-epilogue);
  font-size: var(--fs-body);
  font-weight: var(--fw-regular);
}
